@import 'component/variables';
@import 'component/base';
@import 'component/hero';
@import 'component/navigation';
@import 'component/carousel_slider';

// Homepages

#second-content-home {
    padding: 10%;
    background: url('../img/img-component/bg-leaf-intro.svg');
    background-repeat: no-repeat;
    background-position-x: -20%;
    background-position-y: 10%;

    .left-content-home {
        display: flex;

        h4 {
            font-family: $primary-font;
            font-size: 60px;
            color: $third-color;
        }
    }

    .right-content-home {

        .blue-component-home {
            position: absolute;
            left: -6%;
            bottom: -20%;
        }

        .image-right-second-content-home {
            position: relative;
        }

        .vector-image-intro-1 {
            .vector-intro-1 {
                position: absolute;
                z-index: 10;
                right: -3%;
                top: -15%;
            }
        }
    }

    .left-content-home-2 {
        margin-top: -5%;

        .image-right-second-content-home-2 {
            position: relative;
        }

        .orange-component-home {
            position: absolute;
            bottom: -12%;
            left: -5%;
        }

        .vector-image-intro-2 {
            .vector-intro-2 {
                position: absolute;
                z-index: 10;
                right: 10%;
                top: 30%;
            }
        }
    }

    .right-content-home-2 {
        padding: 10% 5%;

        h4 {
            font-family: $primary-font;
            font-size: 23px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        p {
            font-family: $primary-font;
            font-size: 20px;
        }

        .button-home-second-content {
            border: 1px solid $third-color;
            border-radius: 40px;
            color: black;
            padding: 9.5px 6%;
            text-decoration: none;
            display: grid;
            grid-template-columns: 80% 20%;
            width: 27%;

            span {
                text-decoration: none;
            }
        }
    }

}

#third-content-home {
    background-color: $primary-color;
    padding: 10%;
    overflow: hidden;

    h1 {
        font-family: $primary-font;
        font-size: 60px;
        color: white;
        margin-bottom: 15%;
    }

    .leaf-vector-third-section {
        position: absolute;
        left: -30%;
    }

    .grid-product-content {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;
        z-index: 7;

        .content-product-title {
            margin-bottom: auto;

            h4 {
                color: white;
                font-family: $primary-font, ;
                font-size: 23px;
                text-transform: uppercase;
            }

            h2 {
                color: white;
                font-family: $primary-font, ;
                font-size: 40px;
                font-weight: bold;
            }
        }
    }

    .bubble-orange-vector-third-section {
        position: absolute;
        right: -30%;
        margin-top: -30%;
        z-index: 0;
    }

    .lines-vector-product {
        position: absolute;
        bottom: 10%;
        left: 5%;
        z-index: 9;
        display: none;
    }

    .bubble-white-vector-third-section {
        position: absolute;
        left: -30%;
        margin-top: -20%;
    }

    .button-home-third-content {
        background-color: $third-color;
        border-radius: 40px;
        color: white;
        padding: 10.5px 5%;
        text-decoration: none;
        float: right;
        // display: grid;
        // grid-template-columns: 80% 20%;
        width: 16%;

        span {
            text-decoration: none;
        }
    }

    .vector-product {
        .vector-leaf {}
    }
}

#fourth-content-home {
    background: url('../img/img-component/quote-home.png');
    width: 100%;
    height: 383px;
    background-size: cover;
    background-repeat: no-repeat;

    .layout-quote {
        background-color: rgba(255, 204, 189, 0.8);
        height: 383px;
        opacity: .6;

        .text-home-quote:before {
            content: '';
            width: 75px;
            height: 75px;
            background-image: url('../img/icon/quote-icon.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
            opacity: 0.8;
            position: absolute;
            right: -10%;
            bottom: -50px;
            z-index: 9;
        }

        .text-home-quote:after {
			content: '';
			width: 75px;
			height: 75px;
			background-image: url('../img/icon/quote-icon.svg');
			background-repeat: no-repeat;
			background-position: center;
            background-size: 100% 100%;
            opacity: 0.8;
			position: absolute;
			left: -10%;
			top: -75px;
			/*z-index: 9;*/
		}

        h1 {
            font-family: $primary-font;
            font-size: 40px;
            font-style: italic;
            color: white;
            text-shadow: 3px 3px 10px rgba(25,25,25,0.3);
        }
    }
}

#fifth-content-home {
    padding: 7% 0;
    overflow: hidden;

    .title-fifth-content-home {
        margin-bottom: 50px;

        h1 {
            font-family: $primary-font;
            font-size: 60px;
            color: $secondary-color;
        }

        p {
            font-family: $primary-font;
            font-size: 23px;
            color: #FFCCBD;
        }
    }

    .slider-title-fifth-content-home {
        margin-bottom: 5%;

        h4 {
            font-family: $primary-font;
            font-size: 30px;

            span {
                font-weight: bold;
            }
        }
    }

    .fifth-second-title-home {
        padding-left: 10%;
    }

    .slider-content-fifth-content-home {
        z-index: 99;
        position: relative;

        .slick-content-images {
            .slider-slick-home {
                padding-left: 5%;
            }

            .arrowLeft {
                position: absolute;
                left: 0;
                bottom: -15%;
                border: none;
                background: transparent;
            }

            .arrowRight {
                position: absolute;
                right: 5%;
                bottom: -15%;
                border: none;
                background: transparent;
            }
        }
    }

    .slider-vector-dots {
        position: absolute;
        top: -25%;
        left: -5%;
        z-index: 0;
    }

    .slider-vector-blue {
        position: absolute;
        top: 40%;
        left: -15%;
        z-index: 0;
    }

    .slider-vector-orange {
        position: absolute;
        top: -30%;
        right: -20%;
        overflow: hidden;
    }
}

#sixth-content-home {
    font-family: $primary-font;
    padding: 50px 0;
    border-top: 1px solid #E2E2E2;

    .top-box {
        padding-bottom: 10px;

        .box-content {
			width: 100%;
			height: auto;
			position: relative;
			display: flex;
			flex-direction: row;
			padding-top: 25px;
            padding-bottom: 25px;

            .left-box {
                max-width: 100%;
                width: 25%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 100%;

                h6 {
                    font-weight: 700;
                    margin: 0;
                    color: $black-color;
                }
            }

            .right-box {
                max-width: 100%;
                width: 75%;
                position: relative;
                display: flex;

                .email-box {
                    max-width: 100%;
                    width: 65%;
                    position: relative;
                    height: auto;
                    padding: 0 10px;
                    
                    input {
                        max-width: 100%;
                        width: 100%;
                        border: 1px solid #939393;
                        background-color: unset;
                        border-radius: 25px;
                        padding: 10px 25px;
                        outline: none;
                        color: $black-color;
                    }
                }

                .button-box {
                    max-width: 100%;
                    width: 35%;
                    height: auto;
                    position: relative;
                    padding: 0 10px;

                    button {
                        max-width: 100%;
                        width: 100%;
                        height: auto;
                        position: relative;
                        outline: none;
                        border: none;
                        border-radius: 25px;
                        background-color: #FFBE9E;
                        padding: 10px 25px;
                        color: #fff;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .top-footer {
        margin-bottom: 80px;

        .title-footer-newsletter {
            display: flex;
            align-items: center;
            align-content: center;

            .footer-title-newsletter {
                h6 {
                    font-family: $primary-font;
                    font-size: 30px;
                    font-weight: bold;
                    color: $black-color;
                }
            }
        }

        .footer-input-email {
            input {
                border-radius: 40px;
                padding: 21.5px 6%;
            }
        }

        .footer-button-submit {
            button {
                border: none;
                background: $third-color;
                color: white;
                padding: 4.12% 35%;
                border-radius: 40px;
            }
        }
    }

    .bottom-footer {
        .title-footer {
            h6 {
                font-family: $primary-font;
                font-size: 20px;
                font-weight: bold;
            }
        }

        .desc-footer {
            p {
                font-family: $primary-font-extrabold;
                font-size: 17px;
                color: #6E6E6E;
                font-weight: bold;

                span {
                    font-weight: bold;
                }
            }

            a {
                font-family: $primary-font-extrabold;
                font-size: 20px;
                text-decoration: none;
                color: #6E6E6E;
            }
        }

        .footer-title-socmed {
            .socmed-logo-footer {
                padding: 0 7px;
                text-decoration: none;
            }
        }
    }
}

footer {
    padding: 5px 80px;
    background-color: $primary-color;
    color: white;
    font-family: 'Gotham Pro';
    font-size: 15px;
    font-weight: 500;

    .right-footer-content {
        text-align: right;
    }
}

// About It
#first-content-about {
    padding: 10%;
    background: url('../img/img-component/bg-leaf-intro.svg');
    background-repeat: no-repeat;
    background-position-x: -20%;
    background-position-y: 10%;

    .left-first-content-about {
        flex-direction: column;

        h1 {
            font-family: $primary-font;
            font-size: 60px;
            color: #FFBE9E;
            margin-bottom: 40px;
        }

        span {
            font-family: $primary-font;
            font-size: 23px;
            font-weight: bold;
        }

        p {
            font-family: $primary-font;
            font-size: 20px;
            margin-bottom: 30px;
        }

        .main-button {
            a {
                &.button-about-second-content {
                    border: 1px solid $third-color;
                    border-radius: 40px;
                    color: black;
                    padding: 11px 6%;
                    text-decoration: none;
                    // display: grid;
                    // grid-template-columns: 80% 20%;
                    width: 30%;

                    span {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .right-first-content-about {
        h1 {
            font-family: $primary-font;
            font-style: italic;
            color: #9B9B9B;
            font-size: 40px;
            margin-bottom: 45px;
        }

        .image-first-content-about {
            position: relative;
            z-index: 1;
        }

        .orange-component-about {
            position: absolute;
            bottom: -10%;
            z-index: 0;
        }

        .vector-image-about-1 {
            position: absolute;
            right: 5%;
            top: 40%;
            z-index: 2;
        }
    }
}

#second-content-about {
    padding: 10% 0;
    overflow: hidden;
    background: url('../img/img-component/leaf-about.svg');
    background-repeat: no-repeat;
    background-position: bottom -25% right -20%;

    .left-second-content-about-2 {
        padding-left: 10%;

        .vector-bubble-orange-second-about {
            background: url('../img/img-component/bubble-orange-about.svg');
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            position: absolute;
            left: -10%;
            top: 15%;
        }

        .vector-dots-second-about {
            background: url('../img/img-component/vector-dots-about.svg');
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            position: absolute;
            top: 60%;
            left: 20%;
        }

        .left-img-second-content-about {
            .about-left-image-2 {
                .img-about-2 {
                    float: right;
                    margin-top: 60px;
                    right: 10%;
                }
            }
        }
    }

    .center-img-second-content-about {

        h1 {
            font-family: $primary-font;
            font-size: 60px;
            margin-bottom: 90px;
            color: $secondary-color;
        }

        .about-left-image-3 {
            .img-about-3 {
                width: 100% !important;
            }
        }

    }

    .right-img-second-content-about {

        .vector-bubble-blue-second-about {
            background: url('../img/img-component/bubble-blue-about.svg');
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            right: -50%;
            top: 25%;
            position: absolute;
        }

        .arrowLeftAbout {
            position: absolute;
            bottom: -15%;
            left: 5%;
            border: none;
            background: transparent;

            &::before {
                content: '';
                border-right: 1px solid #A2A2A2;
                border-right-width: 1px;
                left: 50px;
                position: relative;
            }
        }

        .arrowRightAbout {
            position: absolute;
            bottom: -15%;
            left: 15%;
            border: none;
            background: transparent;
        }

        .slider-slick-about {
            padding-left: 5%;
        }
    }
}

// Contact US
#contact-us-content {
    padding: 10%;
    overflow: hidden;
    background: url('../img/img-component/leaf-about.svg');
    background-repeat: no-repeat;
    background-position: bottom -30% right -20%;

    .maps-content {
        width: 100%;
        height: 930px;
        background-color: #fafafa;

        .dots-contact-us {
            background: url('../img/img-component/vector-dots-about.svg');
            width: 20%;
            height: 20%;
            background-repeat: no-repeat;
            position: absolute;
            z-index: 2;
            left: -5%;
            top: -5%;
        }

        .bubble-orange-contact-us {
            background: url('../img/icon/bubble-orange-contact.svg');
            background-repeat: no-repeat;
            width: 100%;
            height: 40%;
            position: absolute;
            z-index: 0;
            bottom: -5%;
        }

        #maps {
            height: 100%;
            position: relative;
            z-index: 1;
        }
    }

    .content-form {
        padding: 5%;

        .form-content {
            h1 {
                font-family: $primary-font;
                font-size: 60px;
                color: $secondary-color;
                margin-bottom: 0;
            }

            p {
                font-family: $primary-font;
                font-size: 25px;
                color: $secondary-color;
            }

            .form-group {
                label {
                    font-family: $primary-font;
                    font-weight: bold;
                    font-size: 15px;
                    color: $primary-color;
                }

                .form-control {
                    border: none;
                    background-color: unset;
                    outline: none;
                    margin-bottom: 60px;
                    border-bottom: 1px solid #C9C9C9;
                    padding: 3% 0;
                    color: #c4c4c4;
                    font-family: 'codec_cold_trialnews';
                    font-size: 12px;

                    &.active {
                        border-bottom: 1px solid $secondary-color;
                    }

                    &:focus {
                        box-shadow: none;
                    }
                }

                textarea {
                    width: 100%;
                    height: 150px;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid #C9C9C9;
                    padding: 3% 0;
                    color: #c4c4c4;
                    font-family: $primary-font;
                    font-size: 17px;
                }
            }

            .button-submit-contact {
                border: 1px solid $third-color;
                border-radius: 40px;
                color: black;
                padding: 11px 6%;
                text-decoration: none;
                // display: grid;
                // grid-template-columns: 80% 20%;
                width: 25%;
                margin-top: 10%;

                span {
                    text-decoration: none;
                    font-family: $primary-font;
                    margin-right: 5px;
                }
            }
        }
    }
}

// Product
#first-product {
    width: 100%;
    height: 100vh;
    background-color: $third-color;
    opacity: .8;
    position: relative;
    padding: 5% 10%;

    .leaf-product-2 {
        position: absolute;
        top: -25%;
        left: -18%;
        transform: rotate(90deg);
    }

    .banner-hero-product {
        height: 100vh;

        .product-right {
            h1 {
                font-family: $third-font;
                font-size: 120px;
                color: transparent;
                -webkit-text-stroke: 1px #fff;
                margin-bottom: 5%;
                
            }

            h4 {
                font-family: $primary-font;
                color: #fff;
                font-size: 25px;
                text-transform: uppercase;
            }

            .product-price {
                display: flex;
                align-items: end;

                h2 {
                    font-family: $primary-font;
                    font-size: 40px;
                    color: #fff;
                    // text-transform: uppercase;
                    font-weight: bold;
                }

                p {
                    font-family: $secondary-font;
                    font-size: 25px;
                    color: #fff;
                    margin-left: 5%;
                }
            }

            p {
                font-family: $primary-font;
                font-size: 18px;
                color: #fff;
                margin-bottom: 20px;

                span {
                    font-weight: bold;
                }
            }

            .button-product {
                display: flex;

                button {
                    border: 1px solid #fff;
                    background: transparent;
                    padding: 9.5px 10%;
                    border-radius: 30px;
                    color: #fff;
                    margin-top: 5%;
                    // display: grid;
                    // grid-template-columns: 80% 80%;
                    margin-left: 10px;
                }
            }
        }

        .product-left {


            .image-product {

                // width: 75%;
                // height: 600px;
                // background-color: #fafafa;
                // position: relative;
                // top: 5%;
                // overflow: hidden;
                width: 55%;

                .image-product-2 {
                    // width: 50%;
                }
            }

            .image-product-item {
                position: absolute;
                top: 0;
                right: 20%;
                width: 45%;
            }

            .product-item-video {
                position: absolute;
                left: -5%;
                top: 45%;
                width: 35%;
            }

            h1 {
                font-family: $primary-font-extrabold-italic;
                color: $primary-color;
                font-size: 120px;
                font-style: italic;
                transform: rotate(90deg);
                position: absolute;
                right: -31%;
                top: 25%;
            }
        }
    }
}

#second-product {
    width: 100%;
    height: 100vh;
    background-color: $fourth-color;
    position: relative;
    padding: 5% 10%;

    .leaf-product-3 {
        position: absolute;
        right: -13%;
        top: -20%;
    }

    .banner-hero-product {
        height: 100vh;

        .product-left {
            h1 {
                font-family: $third-font;
                font-size: 120px;
                color: transparent;
                -webkit-text-stroke: 1px #fff;
                margin-bottom: 5%;
            }

            h4 {
                font-family: $primary-font;
                color: #fff;
                font-size: 25px;
                text-transform: uppercase;
            }

            .product-price {
                display: flex;
                align-items: end;

                h2 {
                    font-family: $primary-font;
                    font-size: 40px;
                    color: #fff;
                    // text-transform: uppercase;
                    font-weight: bold;
                }

                p {
                    font-family: $secondary-font;
                    font-size: 25px;
                    color: #fff;
                    margin-left: 5%;
                }
            }

            p {
                font-family: $primary-font;
                font-size: 18px;
                color: #fff;
                margin-bottom: 20px;

                span {
                    font-weight: bold;
                }
            }

            .button-product {
                display: flex;

                button {
                    border: 1px solid #fff;
                    background: transparent;
                    padding: 9.5px 10%;
                    border-radius: 30px;
                    color: #fff;
                    margin-top: 5%;
                    // display: grid;
                    // grid-template-columns: 80% 80%;
                    margin-left: 10px;
                }
            }
        }

        .product-right {
            .image-product-3 {
                width: 55%;
                left: 20%;
                position: relative;

                // width: 75%;
                // height: 600px;
                // background-color: #fafafa;
                // position: relative;
                // top: 5%;
                // overflow: hidden;
                &::before {
                    content: '';
                    background: url('../img/icon/lines-vector-product.svg');
                    background-size: 100%;
                    display: block;
                    height: 30%;
                    width: 40%;
                    background-repeat: no-repeat;
                    position: absolute;
                    right: -10%;
                    top: -10%;
                    transform: rotate(90deg);
                    z-index: 2;
                }
            }

            .image-product-item-3 {
                position: absolute;
                top: 25%;
                left: 0;
                width: 40%;
            }

            .product-item-video-3 {
                position: absolute;
                right: 20%;
                top: 45%;
                width: 35%;
            }

            h1 {
                font-family: $primary-font-extrabold-italic;
                color: $primary-color;
                font-size: 120px;
                font-style: italic;
                transform: rotate(90deg);
                position: absolute;
                right: -23%;
                top: 25%;
            }
        }
    }
}

// Product Details

#product-detail-content {
    padding: 10%;

    .content-detail-product {
        margin-top: -30%;
    }

    .title-other-products {
        h1 {
            font-family: $primary-font;
            font-size: 60px;
            color: $secondary-color;
            margin: 10% 0;
        }
    }

    .card-other-product {

        &.stretch-card {
            display: -webkit-flex;
            display: flex;
            -webkit-align-items: stretch;
            align-items: stretch;
            -webkit-justify-content: stretch;
            justify-content: stretch;

            .vector-bubble-orange-details-product {
                display: none;
                background: url('../img/icon/details-product-vector-orange.svg');
                background-size: 100%;
                height: 100%;
                position: absolute;
                width: 95%;
                left: -10%;
                bottom: -27%;
                background-repeat: no-repeat;
            }

            .vector-lines-details-product {
                display: none;
                background: url('../img/icon/vector-image-intro-2.svg');
                background-size: 100%;
                height: 30%;
                position: absolute;
                width: 20%;
                right: -5%;
                top: -10%;
                background-repeat: no-repeat;
                z-index: 2;
            }

            .card {
                &.card-product-others {
                    border: none;
                    padding: 0 5%;
                    box-shadow: 12px 8px 20px #c4c4c4;

                    .image-product-detail {
                        max-width: 35%;
                        position: relative;
                        z-index: 1;
                        display: flex;
                        align-items: flex-end;
                    }

                    .desc-product-detail {
                        padding: 8% 0;

                        h1 {
                            font-family: $primary-font;
                            font-size: 25px;
                            font-weight: bold;
                            color: #4a4a4a;
                            text-transform: uppercase;
                        }

                        p {
                            font-family: $primary-font;
                            font-size: 17px;
                            color: #4a4a4a;
                            line-height: 30px;
                        }

                        .price-troli-others {
                            .list-price {
                                background-color: $primary-color;
                                padding: 3% 0;
                                position: relative;
                                left: -20%;
                                bottom: -20px;
                                z-index: 0;
                                padding-left: 20%;
                                width: 100%;

                                p {
                                    font-family: $secondary-font;
                                    color: white;
                                    font-size: 23px;
                                    margin-bottom: 0;
                                }
                            }

                            .button-to-troli {
                                position: relative;
                                bottom: -20px;
                            }
                        }
                    }
                }
            }
        }


    }
}

// Press Release
#press-release {
    position: relative;
    // overflow-x: hidden;
    overflow: hidden;

    .container-fluid {
        padding: $padding-layout-two;
    }

    .row {
        position: relative;
    }

    .component-1 {
        width: 400px;
        height: 200px;
        // background-color: $black-color;
        background-image: url('../img/press-release/press-release-component-one.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        position: absolute;
        top: 75px;
        right: -110px;
    }

    .component-2 {
        width: 100px;
        height: 100px;
        // background-color: $black-color;
        background-image: url('../img/press-release/press-release-component-two.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        bottom: 0;
        left: 25px;
        z-index: 11;
    }

    .component-3 {
        width: 400px;
        height: 200px;
        // background-color: $black-color;
        background-image: url('../img/press-release/press-release-component-three.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        bottom: -25px;
        left: -125px;
    }

    .component-4 {
        width: 75px;
        height: 75px;
        // background-color: $black-color;
        background-image: url('../img/press-release/press-release-component-four.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        bottom: 0;
        right: 50px;
        z-index: 11;
    }

    .component-5 {
        width: 400px;
        height: 200px;
        // background-color: $black-color;
        background-image: url('../img/press-release/press-release-component-three.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        bottom: 125px;
        left: 0;
    }

    .component-6 {
        width: 500px;
        height: 300px;
        // background-color: $black-color;
        background-image: url('../img/press-release/press-release-component-five.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        bottom: 20px;
        right: -250px;
    }

    .component-bottom {
        width: 250px;
        height: 250px;
        // background-color: $black-color;
        background-image: url('../img/press-release/press-release-component-leaf.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        bottom: -80px;
        left: 30px;
        z-index: 0;
    }

    .component-modal-1 {
        width: 400px;
        height: 200px;
        // background-color: $black-color;
        background-image: url('../img/press-release/press-release-component-three.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        bottom: -25px;
        left: -125px;
    }

    .title-content {
        width: 100%;
        height: auto;
        position: relative;
        text-align: center;
        padding-top: 100px;
        color: $third-color;
    }

    #slider-lod, #slider-press, #slider-travel, #slider-travel-slick {
        width: 100%;
        height: auto;
        position: relative;
        padding: 10px 50px;

        button {
            background-color: unset;
            border: unset;
            outline: none;
        }

        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
        }

        .arrowRight {
            right: -2%;
        }

        .arrowLeft {
            left: -2%;
        }
        
        .item {
            padding: 15px 25px;

            img {
                width: 100%;
            }
        }
    }

    #slider-press {
        .book-box {
            padding: 25px;
            background-color: #F4F4F4;
        }
    }

    #slider-travel {
        .item {
            padding: 0;

            img {
                width: 200%;
            }
        }
        .slick-slide {
            position: relative;
            transform: scale(0.7);
            z-index: 1 !important;
        }

        .slick-active {
            position: relative;
            transform: scale(1);   
            z-index: 3 !important;
        }

        .slick-current {
            position: relative;
            transform: scale(1.5);
            z-index: 5 !important;
            transition: .5s;
        }

        .slider .slider__inner {
            max-width: 100%;
        }

        .slider .slider__inner .slider__item-img {
            height: auto !important;
        }

        .arrowRightTravel {
            position: relative;
            right: -150%;
        }

        .arrowLeftTravel {
            position: relative;
            left: -150%;
        }

        .slider .slider__inner .slider__item-last, .slider .slider__inner .slider__item-first {
            opacity: 1;
        }
    }

    #slider-travel-slick {
        button {
            background-color: unset;
            border: unset;
            outline: none;
        }

        .slick-arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
        }

        .arrowRight {
            right: -2%;
        }

        .arrowLeft {
            left: -2%;
        }
    }
}

nav#mobile-nav {
    // background-color: #fff;
    position: fixed;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 25% 50% 25%;

    .menu-bar {
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .burger-menu {
            max-width: 100%;
            max-height: 100%;
            width: 50%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .bar {
                width: 50%;
                height: 5px;
                background-color: #fff;
                margin: 5px 0;
                border-radius: 50px
            }
        }
    }

    .logo {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        left: unset !important;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            img {
                max-width: 100%;
                width: 85%;
                padding: 0;
                margin: auto;
            }
        }
    }

    .cart {
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        .wrapper {
            max-width: 100%;
            max-height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            a {
                text-decoration: none;
                color: #fff;
                img {
                    margin-right: 10px;
                }
            }
        }
    }
}